<h3>Button Configuration ({{ button.position }})</h3>
<hr>
{% if button.actions is not none %}
    {% for action in button.actions %}
        <div class="action">
            <p style="margin: 0; font-size: 0.8rem; font-style: italic; text-decoration: underline;">{{ action.__class__.__name__ }}</p>
            <p style="margin: 0;">{{ action.parameter }}</p>
        </div>
    {% endfor %}
{% endif %}
<button onclick="openAddActionModal({{ button.position }})">+ Add Action</button>
<label for="buttonText">Text</label>
<input id="buttonText" type="text" value="{{ button.style.label }}">
<button onclick="submit()">Save</button>

<div id="addActionModal" class="modal">
    <div class="modal-content">
        <span id="closeActionModal" class="close">&times;</span>
        <h2>Add Action</h2>
        <hr style="margin-bottom: 10px;">
        <label for="actionTypeSelect">Action Type: </label>
        <select id="actionTypeSelect">
            <option disabled selected value>Select Action Type...</option>
            <option value="text">Text</option>
        </select>
        <div id="actionFields">
        </div>
        <button id="addActionButton" style="width: 100px; margin-top:15px;">Add</button>
    </div>
</div>