<h3 style="text-align: center;">Button Configuration ({{ button.position }})</h3>
<hr>
{% if button.actions is not none %}
    {% for action in button.actions %}
        <div class="action">
            <span id="delete-{{ action.id }}" class="close"
                  onclick="deleteAction({{ button.position }}, {{ action.id }})">&times;</span>
            <p style="margin: 0; font-size: 0.8rem; font-style: italic; text-decoration: underline;">{{ action.__class__.__name__ }}</p>
            <p style="margin: 0;">{{ action.display_value }}</p>
        </div>
    {% endfor %}
{% endif %}
<button onclick="openAddActionModal({{ button.position }})">+ Add Action</button>
<div class="config-item">
    <label for="buttonText">Text:</label>
    <input id="buttonText" type="text" value="{{ button.style.label }}">
</div>
<div id="buttonImageUpload" class="config-item {{ 'image-upload' if button.style.background_image else '' }}">
    <label>Image:</label>
    {% if button.style.background_image %}
        <label for="buttonImage" style="cursor:pointer;">
            <img alt="Button Image" id="displayButtonImage" height="72" width="72" src="data:image/PNG;base64, {{ button.style.background_image_decoded  }}" style="display: block;">
        </label>
        <input id="buttonImage" type="file" accept="image/*">
    {% else %}
        <input id="buttonImage" type="file" accept="image/*">
    {% endif %}
</div>
<div class="config-item">
    <label for="buttonFontSize">Font Size:</label>
    <input id="buttonFontSize" type="number" value="{{ button.style.font_size }}">
</div>
<div class="config-item">
    <label for="buttonTextColor">Text Color:</label>
    <input id="buttonTextColor" class="color-picker" type="color" value="{{ button.style.text_color }}">
</div>
<div class="config-item">
    <label for="buttonBackgroundColor">Background Color:</label>
    <input id="buttonBackgroundColor" class="color-picker" type="color" value="{{ button.style.background_color }}">
</div>
<button onclick="submit()">Save</button>

<div id="addActionModal" class="modal">
    <div class="modal-content">
        <span id="closeActionModal" class="close">&times;</span>
        <h2>Add Action</h2>
        <hr style="margin-bottom: 10px;">
        <label for="actionTypeSelect">Action Type: </label>
        <select id="actionTypeSelect">
            <option disabled selected value>Select Action Type...</option>
            <option value="text">Text</option>
            <option value="multikey">Multi-Key Press</option>
            <option value="delay">Delay</option>
        </select>
        <div id="actionFields" style="margin-top:10px;">
        </div>
        <button id="addActionButton" style="width: 100px; margin-top:15px;">Add</button>
    </div>
</div>