<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/thirdparty/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>StreamDeckX</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/sdx_icon.png') }}">
</head>
<body>
<h1>STREAM DECK X</h1>
<hr style="margin-bottom: 10px;">
<span id="connected-streamdecks">
    <div>
        {% if connected_decks %}
            <label>Selected Stream Deck:</label>
            <select id="conn-sd-select">
                {%for deck in connected_decks%}
                <option value="{{deck.id}}">{{deck.name}}</option>
                {%endfor%}
            </select>
        {% else %}
            <p style="display:inline">No Stream Decks connected!</p>
        {% endif %}
        <button onclick="rescan()" style="display:inline; width: 80px;">Rescan</button>
        <button id="emulatorToggle" onclick="emulatorToggle()" style="display: inline; width: 130px;">Edit Mode</button>
        <button id="newVirtualStreamDeck" onclick="createVirtualSD()" style="display: inline; width: 150px">+ Virtual Stream Deck</button>
    </div>
    <div class="main-area">
        <span id="curr-deck" style="display:inline-block;">
            {{curr_deck_html | safe}}
        </span>
        <span id="config" style="display:inline-block; margin-left: 30px; width: 300px;"></span>
    </div>
</span>
</body>
</html>