@font-face {
    font-family: 'Poppins';
    src: url('static/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #2B2D42;
    color: #FAFDED;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
}

button {
    background-color: transparent;
    color: #FAFDED;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border-color: #FAFDED;
}

.btn {
    height: 72px;
    width: 72px;
    border: 2px solid #FAFDED;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    vertical-align: top;
    overflow: hidden;
}

.clicked {
    border-color: #8D99AE;
}

.main-area {
    display: flex;
    flex-direction: row;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #2B2D42;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 50%;
}

/* The Close Button */
.close {
  color: #FAFDED;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}