@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    background-color: #2B2D42;
    color: #FAFDED;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
}

.btn {
    height: 72px;
    width: 72px;
    border: 2px solid #FAFDED;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}